<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-calculator" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>calculator</name><js-module name="calculator" src="www/calculator.js"><clobbers target="cordova.plugins.calculator" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="calculator"><param name="android-package" value="cordova-plugin-calculator.calculator" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/calculator.java" target-dir="src/cordova-plugin-calculator/calculator" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="calculator"><param name="ios-package" value="calculator" /></feature></config-file><source-file src="src/ios/calculator.m" /></platform></plugin>